* {
    color: #101010;
    background-color: #FFF8E1;
    font-family: 'Roboto', sans-serif;
}
.page h1 {
    margin: 0;
    text-align: center;
    font-size: 36px;
}
.page input[type=text],.page input[type=password],.page input[type=button],button {
    border: 2px solid #00BFA5;
    border-radius: 4px;
    width: 100%;
    display: block;
    font-size: 24px;
    height: 52px;
}
.page input[type=button],button {
    color: #00BFA5;
}
[data-target] {
    cursor: pointer;
}
.spinning {
    display: inline-block;
    -webkit-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
}
.spinning:before {
    content:"aa";
}
.icon {
    width: 50px;
    height: 50px;
}
.icon * {
    color: #00BFA5;
    font-size: 50px;
}

.tile {
    border: 2px solid #00BFA5;
    border-radius: 4px;
}
.tile .material-icons, button .material-icons {
    color: #00bfa5;
    font-size: 45px;
    padding-top: 6px;
}
.tile.tile-red ,button.button-red{
    border: 2px solid #e55252;
}
.tile.tile-red .material-icons,button.button-red .material-icons {
    color: #e55252;
}
.microphone-track {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
    border: 3px solid #00BFA5;
    border-radius: 50%;
}
.microphone-track .material-icons {
    font-size: 150px;
    margin-left: 23px;
    margin-top: 25px;
    border-radius: 50%;
    color: #00BFA5;
}
